################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

*.suo
/obj
/bin/Release
/.vs
/bin/Debug
/bin/FLPluginLabeler.pdb
